force-app/main/default/flows/Assign_Lead_According_to_Unit_in_Round_Robin.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Round_Robin_Assigner</name>
        <label>Round Robin Assigner</label>
        <locationX>710</locationX>
        <locationY>911</locationY>
        <actionName>roundRobinAssigner</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>groupName</name>
            <value>
                <elementReference>queueName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_To_Queue_Kolkata</name>
        <label>Assign To Queue Kolkata</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>queueName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Medica Kolkata Team</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_For_Queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_To_Queue_Madhuban</name>
        <label>Assign To Queue Madhuban</label>
        <locationX>1106</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>queueName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Medica Madhuban Team</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_For_Queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_To_Queue_Ranchi</name>
        <label>Assign To Queue Ranchi</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>queueName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Medica Ranchi Team</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_For_Queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_To_Queue_Rangapani</name>
        <label>Assign To Queue Rangapani</label>
        <locationX>842</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>queueName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Medica Rangapani Team</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_For_Queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_To_Queue_Siliguri</name>
        <label>Assign To Queue Siliguri</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>queueName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Medica Siliguri Team</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_For_Queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_To_Queue_Tinsukia</name>
        <label>Assign To Queue Tinsukia</label>
        <locationX>1370</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>queueName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Medica Tinsukia Team</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_For_Queue</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_City</name>
        <label>Check for City</label>
        <locationX>842</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Check_For_Queue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Kolkata</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.City__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Kolkata</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_To_Queue_Kolkata</targetReference>
            </connector>
            <label>Kolkata</label>
        </rules>
        <rules>
            <name>Ranchi</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.City__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ranchi</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_To_Queue_Ranchi</targetReference>
            </connector>
            <label>Ranchi</label>
        </rules>
        <rules>
            <name>Siliguri</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.City__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Siliguri</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_To_Queue_Siliguri</targetReference>
            </connector>
            <label>Siliguri</label>
        </rules>
        <rules>
            <name>Rangapani</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.City__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rangapani</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_To_Queue_Rangapani</targetReference>
            </connector>
            <label>Rangapani</label>
        </rules>
        <rules>
            <name>Madhuban</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.City__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Madhuban</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_To_Queue_Madhuban</targetReference>
            </connector>
            <label>Madhuban</label>
        </rules>
        <rules>
            <name>Tinsukia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.City__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tinsukia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_To_Queue_Tinsukia</targetReference>
            </connector>
            <label>Tinsukia</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_For_Queue</name>
        <label>Check For Queue</label>
        <locationX>842</locationX>
        <locationY>671</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Queue_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>queueName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_Queue</targetReference>
            </connector>
            <label>If Queue Not Null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Assign Lead According to Unit in Round Robin {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assign Lead According to Unit in Round Robin</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Lead_Queue</name>
        <label>Update Lead Queue</label>
        <locationX>710</locationX>
        <locationY>791</locationY>
        <connector>
            <targetReference>Round_Robin_Assigner</targetReference>
        </connector>
        <inputAssignments>
            <field>Queue_Name_DO_NOT_DELETE__c</field>
            <value>
                <elementReference>queueName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_City</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>queueName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
