force-app/main/default/flows/Schedule_Holiday_Attendance_Record_Creation_Automatically.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Create_Attendance_Record</name>
        <label>Create Attendance Record</label>
        <locationX>264</locationX>
        <locationY>972</locationY>
        <assignmentItems>
            <assignToReference>vSingleAttendanceRecord.User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vSingleAttendanceRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Holiday</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vSingleAttendanceRecord.Attendance_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AttendanceCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vSingleAttendanceRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_User_to_Collection</name>
        <label>Set User to Collection</label>
        <locationX>264</locationX>
        <locationY>516</locationY>
        <assignmentItems>
            <assignToReference>userCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Attendance.User__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Attendance</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Schedule Holiday Attendance Record Creation Automatically {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Schedule Holiday Attendance Record Creation Automatically</label>
    <loops>
        <name>Attendance</name>
        <label>Attendance</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <collectionReference>Get_Attendance_Records_for_Today</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_User_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Sale_Users_not_having_Attendance_for_Today</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>User</name>
        <label>User</label>
        <locationX>176</locationX>
        <locationY>852</locationY>
        <collectionReference>Get_Sale_Users_not_having_Attendance_for_Today</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Attendance_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Holiday_Attendance</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Holiday_Attendance</name>
        <label>Create Holiday Attendance</label>
        <locationX>176</locationX>
        <locationY>1188</locationY>
        <inputReference>AttendanceCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Attendance_Records_for_Today</name>
        <label>Get Attendance Records for Today</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Attendance</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Attendance_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Attendance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sale_Users_not_having_Attendance_for_Today</name>
        <label>Get Sale Users not having Attendance for Today</label>
        <locationX>176</locationX>
        <locationY>732</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>userCollection</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Attendance_Records_for_Today</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-04-25</startDate>
            <startTime>10:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>AttendanceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Attendance__c</objectType>
    </variables>
    <variables>
        <name>userCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSingleAttendanceRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Attendance__c</objectType>
    </variables>
</Flow>
