force-app/main/default/flows/survey_feedback_form.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>pageNamesInOrder_Assignment</name>
        <label>pageNamesInOrder_Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>welcome_page</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_8b632418_41a5_4556_9dc5_df62a93859f3</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>thank_you_page</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>welcome_page</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>c_051633ed_41f0_4c1e_84b5_62255285390c</name>
        <choiceText>Good</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Good</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_06b5b27d_0622_4b12_969f_9fc46f6fe93e</name>
        <choiceText>6</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>6.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_0e13ef17_465c_4bb8_a3fa_ccd91631d319</name>
        <choiceText>Good</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Good</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_102b81d1_8838_4068_881f_42bb6b9869ce</name>
        <choiceText>Satisfactory</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Satisfactory</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_12420897_fd03_4fe5_981c_7196f5006fa1</name>
        <choiceText>Excellent</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Excellent</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_12d05843_7fa2_4233_a49d_57c0ddfcfcf2</name>
        <choiceText>Excellent</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Excellent</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_15760741_3362_41ef_993b_3130cbdc39f4</name>
        <choiceText>Excellent</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Excellent</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_189accf5_73d9_4677_8eca_02373b4667b0</name>
        <choiceText>Excellent</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Excellent</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_1a1e4fca_8676_4229_8e90_91d3fc8e4ee4</name>
        <choiceText>Excellent</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Excellent</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_1a53c1a4_6f28_4541_86da_fcbe5f2b6743</name>
        <choiceText>Satisfactory</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Satisfactory</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_1fd8280e_ed5f_4ea3_83f7_00681a9076a0</name>
        <choiceText>Needs Improvement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Needs Improvement</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_211baf50_d9b5_49a8_9bf0_2d32cee82cb0</name>
        <choiceText>Satisfactory</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Satisfactory</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_22ae139d_f3e3_4834_a409_3b88869a56e5</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_23e5a3aa_8bbd_4f32_a922_2162c226c3b3</name>
        <choiceText>Satisfactory</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Satisfactory</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_28009d2a_c86e_4f47_b0d3_3bbe1dd0a9e5</name>
        <choiceText>8</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>8.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_29b0a6af_d447_41d2_ad7f_f1833bdb410e</name>
        <choiceText>Excellent</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Excellent</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_324a899c_81c4_4631_856a_316f0d415313</name>
        <choiceText>Needs Improvement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Needs Improvement</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_332c46d5_0293_4666_b5e7_907c456f69ff</name>
        <choiceText>Needs Improvement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Needs Improvement</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_3448bb9f_f9ad_4141_8677_9d92c4cca42e</name>
        <choiceText>Needs Improvement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Needs Improvement</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_3552a537_cbf9_4724_9725_84633e0a612e</name>
        <choiceText>Needs Improvement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Needs Improvement</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_363349f4_2360_45d2_886e_89525b7367a2</name>
        <choiceText>45 Mins</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>45 Mins</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_3673b180_00d0_4c92_bb01_0d168c84ff92</name>
        <choiceText>Good</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Good</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_3e77ee14_1814_4274_8fb9_a6577545911c</name>
        <choiceText>Good</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Good</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_42c2de99_6ca7_4cf2_b32f_db5c95b57341</name>
        <choiceText>35 Mins</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>35 Mins</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_455ffad6_6ccc_4450_937c_c26ab5642e79</name>
        <choiceText>Excellent</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Excellent</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_49175d4e_1c03_49e2_a522_771a9a0c0d64</name>
        <choiceText>Excellent</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Excellent</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_4a9302a8_23d3_4ae0_88a5_8b7f9219e177</name>
        <choiceText>Needs Improvement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Needs Improvement</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_4b3b9065_15b0_4efb_ab36_0239ba5742a7</name>
        <choiceText>Satisfactory</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Satisfactory</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_4befe93b_492f_4b45_8917_a1fdc37ec17b</name>
        <choiceText>Good</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Good</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_4c0cc71e_13f2_4804_bdae_6c2027713308</name>
        <choiceText>Needs Improvement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Needs Improvement</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_4c936fe8_0d93_4a84_8d03_6be85ce2846e</name>
        <choiceText>Satisfactory</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Satisfactory</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_4e74bda8_50b9_4301_9079_6985704c9d9a</name>
        <choiceText>Good</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>10.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_4fc98b3b_6676_42c7_ada4_14f6e3257d14</name>
        <choiceText>Good</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Good</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_50a00d3c_cde2_4430_8fad_44125f5d4248</name>
        <choiceText>TPA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>TPA</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_50c6b69d_0917_49aa_a497_67e1a31a2836</name>
        <choiceText>Satisfactory</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Satisfactory</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_5644269b_88b0_4cf8_b0b1_62e605dcf622</name>
        <choiceText>Satisfactory</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Satisfactory</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_57abab7f_3827_4f90_9803_0ebba7602406</name>
        <choiceText>Needs Improvement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Needs Improvement</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_5f41e2fa_cd66_4417_8b87_121c7befcb05</name>
        <choiceText>Excellent</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Excellent</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_5f88188d_9fec_4ca2_8f4a_1681cdda641b</name>
        <choiceText>9</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>9.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_605873b6_045a_4059_b4b5_0e8d1a048fc0</name>
        <choiceText>More than 1 Hr</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>More than 1 Hr</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_61f4fa5f_8561_4337_844f_26ef2b0c40f8</name>
        <choiceText>Satisfactory</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Satisfactory</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_74f20d65_407a_4b5f_99f3_d0678e57d147</name>
        <choiceText>Good</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Good</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_769bcca7_62ed_4f0c_a498_cdf77a85ff96</name>
        <choiceText>Excellent</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Excellent</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_77aa9586_8a64_469e_9d31_285cdec7c594</name>
        <choiceText>5</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_799a36f1_6967_40ac_8bf8_9fefc744985d</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_8057ef32_c1b6_478d_918e_e5ba8a43d8f2</name>
        <choiceText>Good</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Good</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_8128f2a4_c679_441b_9a56_7e73a0e87bf4</name>
        <choiceText>Good</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Good</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_81fb5cd2_a9cd_4cac_a7a8_84d7ed8c8441</name>
        <choiceText>Good</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Good</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_823440bb_e34d_4491_93e8_b1090f5c334e</name>
        <choiceText>25 Mins</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>25 Mins</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_834234d7_e623_4e1a_bf4e_194d1ef2d67e</name>
        <choiceText>Good</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Good</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_865d91a0_bd6e_47e0_982f_b3d5fe6881d2</name>
        <choiceText>Needs Improvement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Needs Improvement</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_867701e9_0fb8_4c69_92cc_8df15b4226a7</name>
        <choiceText>Excellent</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Excellent</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_88ea3de9_81da_4757_8fc2_6f0c4bf60a35</name>
        <choiceText>Satisfactory</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Satisfactory</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_8a0f08e3_75d4_4f30_810d_9b7c2540e64e</name>
        <choiceText>Excellent</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Excellent</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_8fca14ea_721a_4909_b549_f1501a5cba31</name>
        <choiceText>Excellent</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Excellent</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_910ad854_a01f_4442_aced_2ccefd728ae3</name>
        <choiceText>Satisfactory</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Satisfactory</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_93db26d4_2ab4_497b_81c2_145248d0a7fa</name>
        <choiceText>Satisfactory</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Satisfactory</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_946d13f5_1481_404d_a032_4ea91ec1aeab</name>
        <choiceText>Satisfactory</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Satisfactory</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_985a1a43_844f_47b9_8bef_4993e87f65b5</name>
        <choiceText>Excellent</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Excellent</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_9d7c1004_4c96_4b96_b1ae_26e95065f1ff</name>
        <choiceText>Needs Improvement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Needs Improvement</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_a1e63041_919e_4ef7_a581_271674b3eddb</name>
        <choiceText>More than 1 Hr</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>More than 1 Hr</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_a43b769b_872d_4af8_bea1_135b2f6ca1ba</name>
        <choiceText>Excellent</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Excellent</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_a6583adc_3a63_437b_a70b_ef85a12c1227</name>
        <choiceText>Excellent</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Excellent</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_a72fd730_0529_4316_9902_6f1c65faf08f</name>
        <choiceText>Needs Improvement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Needs Improvement</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_a7b4339f_77e3_4044_b8c7_4c9d2fa11020</name>
        <choiceText>Satisfactory</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Satisfactory</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_aa273424_0fee_439c_84db_eee8c4b8a701</name>
        <choiceText>30 Mins</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>30 Mins</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_ab290627_7ee2_4ac3_b8e3_849a7a70f0a5</name>
        <choiceText>Satisfactory</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Satisfactory</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_afc2202e_39c7_481c_8d3d_e2b0a050200d</name>
        <choiceText>Needs Improvement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Needs Improvement</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_b02e2756_04f8_4bc1_b3bc_208ee603eee5</name>
        <choiceText>Bad</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_b10a6c5c_84f8_434d_b945_566aac5520cc</name>
        <choiceText>7</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>7.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_b32530ad_996f_4abb_8e54_8762dcad1b27</name>
        <choiceText>Satisfactory</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Satisfactory</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_b64e9f8b_b23c_4c79_ae75_34bdc9f37f68</name>
        <choiceText>Needs Improvement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Needs Improvement</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_b739b803_3954_4ac5_9dcd_de2d5dfbec42</name>
        <choiceText>Needs Improvement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Needs Improvement</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_b7a1d73e_f50c_4e0b_aa39_d34351335336</name>
        <choiceText>Good</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Good</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_b880fc50_3b8f_4e3b_b9bc_31808a77ce8b</name>
        <choiceText>Needs Improvement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Needs Improvement</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_bacf2a77_a9a3_448e_b0d0_274e1cad1188</name>
        <choiceText>Good</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Good</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_c08daa1d_2608_487e_8ebe_78ccbde0f867</name>
        <choiceText>Needs Improvement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Needs Improvement</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_c28845a1_a265_4381_bb71_40b1b51b48ae</name>
        <choiceText>Good</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Good</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_c80ca527_9398_4ab9_bf7b_892661b2453a</name>
        <choiceText>Satisfactory</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Satisfactory</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_c9a196bc_e94c_423c_b04a_855ccf3b6a42</name>
        <choiceText>Good</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Good</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_ca841a78_b0e2_4547_9c4c_d5496801f21d</name>
        <choiceText>Satisfactory</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Satisfactory</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_ca98dd2d_31f4_4a32_a943_cbb0ce1e4d37</name>
        <choiceText>Excellent</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Excellent</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_caa615c5_0ce0_44f4_8122_e455415cb12b</name>
        <choiceText>Satisfactory</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Satisfactory</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_cd0d593f_942a_4fe1_b5ed_4319b6d64d3b</name>
        <choiceText>45 Mins</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>45 Mins</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_cdd3b394_73ab_46dd_9b39_dc4a0fcefaa9</name>
        <choiceText>Needs Improvement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Needs Improvement</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_cf6fce9d_2332_4bd6_a038_631da5c6a5d4</name>
        <choiceText>Cash</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cash</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_cf9b22bc_f942_4173_9ede_efc52244cca2</name>
        <choiceText>Good</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Good</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_d0c311bd_7391_4822_8cd8_c131af7c61d7</name>
        <choiceText>Good</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Good</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_d11696f5_5ea8_4116_9a4f_f73dbe597a87</name>
        <choiceText>Satisfactory</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Satisfactory</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_d21e6cf0_207c_4df5_9422_6985d883b5f2</name>
        <choiceText>Corporate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Corporate</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_d5595f66_d51f_4b13_a3f1_4485c6b51955</name>
        <choiceText>Needs Improvement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Needs Improvement</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_d9317786_819c_4e88_acf0_7c7c1585c974</name>
        <choiceText>Good</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Good </stringValue>
        </value>
    </choices>
    <choices>
        <name>c_dae1d8a1_b350_49c8_982e_3aa24f1ef8bc</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_db9e58a9_da4b_46cc_8778_6ba158fb1313</name>
        <choiceText>20 Mins</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>20 Mins</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_e960c4a1_52b6_496f_a718_d6d47c42ed33</name>
        <choiceText>Excellent</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Excellent</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_e9a24c40_aa9b_4f75_b16f_b6eca6e45075</name>
        <choiceText>Excellent</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Excellent</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_eddd4e47_b123_4348_b700_a3c59e263848</name>
        <choiceText>Good</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Good</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_edfec026_8a0e_46ae_9e0e_298bf6ede08a</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_f468d405_934a_457c_a1f3_4a6162532e34</name>
        <choiceText>Needs Improvement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Needs Improvement</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_f4fc8284_ac49_48a0_8248_504c4eb5e163</name>
        <choiceText>Excellent</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Excellent</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_f68f963d_0c8e_4881_bcda_c22a635e9e1b</name>
        <choiceText>Good</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Good</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_f9725708_8a15_43e9_b0af_5422f2805b89</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_fc0dd0ca_bec0_4d78_99b0_74bbfb6faf23</name>
        <choiceText>Needs Improvement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Needs Improvement</stringValue>
        </value>
    </choices>
    <interviewLabel>Survey Feedback Form</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Survey Feedback Form</label>
    <processMetadataValues>
        <name>BrandingSet</name>
        <value>
            <stringValue>sb_survey_feedback_form_4_1777f0ac_2734_465e_b0ec_13f56c5f6349</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>advanceThankYouPageEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>autoProgressEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>hasWelcomePage</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>isSimpleSurvey</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>overrideActiveVersion</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processType>Survey</processType>
    <screens>
        <name>p_8b632418_41a5_4556_9dc5_df62a93859f3</name>
        <label>Page 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_bb11d8f1_20fa_4227_ac03_2752e8ba324b</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;&lt;strong&gt;1.&lt;/strong&gt;&lt;strong style=&quot;font-size: 13.3333px; font-family: Arial;&quot;&gt;UHID:&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_837c8188_2eec_4dc7_b22f_d63efe896be8</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;&lt;strong&gt;2.&lt;/strong&gt;&lt;strong style=&quot;font-size: 13.3333px; font-family: Arial;&quot;&gt;Enter Full Name :&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_2146f00c_430c_42f6_aa35_3c8808b8051c_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_2146f00c_430c_42f6_aa35_3c8808b8051c</name>
            <choiceReferences>c_b02e2756_04f8_4bc1_b3bc_208ee603eee5</choiceReferences>
            <choiceReferences>c_dae1d8a1_b350_49c8_982e_3aa24f1ef8bc</choiceReferences>
            <choiceReferences>c_edfec026_8a0e_46ae_9e0e_298bf6ede08a</choiceReferences>
            <choiceReferences>c_22ae139d_f3e3_4834_a409_3b88869a56e5</choiceReferences>
            <choiceReferences>c_77aa9586_8a64_469e_9d31_285cdec7c594</choiceReferences>
            <choiceReferences>c_06b5b27d_0622_4b12_969f_9fc46f6fe93e</choiceReferences>
            <choiceReferences>c_b10a6c5c_84f8_434d_b945_566aac5520cc</choiceReferences>
            <choiceReferences>c_28009d2a_c86e_4f47_b0d3_3bbe1dd0a9e5</choiceReferences>
            <choiceReferences>c_5f88188d_9fec_4ca2_8f4a_1681cdda641b</choiceReferences>
            <choiceReferences>c_4e74bda8_50b9_4301_9079_6985704c9d9a</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;strong&gt;3.&lt;/strong&gt;&lt;strong style=&quot;font-size: 13.3333px; font-family: Arial;&quot;&gt;Would you recommend Medica to a friend/relative ? (Kindly rate in a scale of 0 to 10):&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_e667eb85_9408_48b1_848a_8393ef28e4cf</name>
            <choiceReferences>c_12420897_fd03_4fe5_981c_7196f5006fa1</choiceReferences>
            <choiceReferences>c_d9317786_819c_4e88_acf0_7c7c1585c974</choiceReferences>
            <choiceReferences>c_50c6b69d_0917_49aa_a497_67e1a31a2836</choiceReferences>
            <choiceReferences>c_b880fc50_3b8f_4e3b_b9bc_31808a77ce8b</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;strong&gt;4.&lt;/strong&gt;&lt;strong style=&quot;font-size: 13.3333px; font-family: Arial;&quot;&gt;All hospital protocols were clearly explained to me during admission counselling :&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_452d8846_a57f_4516_a61d_05d92bcc05db</name>
            <choiceReferences>c_189accf5_73d9_4677_8eca_02373b4667b0</choiceReferences>
            <choiceReferences>c_051633ed_41f0_4c1e_84b5_62255285390c</choiceReferences>
            <choiceReferences>c_23e5a3aa_8bbd_4f32_a922_2162c226c3b3</choiceReferences>
            <choiceReferences>c_a72fd730_0529_4316_9902_6f1c65faf08f</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;strong&gt;5. &lt;/strong&gt;&lt;strong style=&quot;font-family: Arial; font-size: 13.3333px;&quot;&gt;I was counseled about my treatment by my Doctor :&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_dce4dd06_7f3d_44c3_91e7_f89a58ec6116</name>
            <choiceReferences>c_8a0f08e3_75d4_4f30_810d_9b7c2540e64e</choiceReferences>
            <choiceReferences>c_74f20d65_407a_4b5f_99f3_d0678e57d147</choiceReferences>
            <choiceReferences>c_1a53c1a4_6f28_4541_86da_fcbe5f2b6743</choiceReferences>
            <choiceReferences>c_b64e9f8b_b23c_4c79_ae75_34bdc9f37f68</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;strong&gt;6.&lt;/strong&gt;&lt;strong style=&quot;font-family: Arial; font-size: 13.3333px;&quot;&gt; I was satisfied by the behavior of the Doctor :&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_4039ed9e_69b2_456d_960f_58e6df191d63</name>
            <choiceReferences>c_f4fc8284_ac49_48a0_8248_504c4eb5e163</choiceReferences>
            <choiceReferences>c_c9a196bc_e94c_423c_b04a_855ccf3b6a42</choiceReferences>
            <choiceReferences>c_946d13f5_1481_404d_a032_4ea91ec1aeab</choiceReferences>
            <choiceReferences>c_fc0dd0ca_bec0_4d78_99b0_74bbfb6faf23</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;strong&gt;7.&lt;/strong&gt;&lt;strong style=&quot;font-size: 13.3333px; font-family: Arial;&quot;&gt; I was given medicines regularly by the nurses :&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_1f780dad_9232_4690_80b0_213e20ddeef8</name>
            <choiceReferences>c_ca98dd2d_31f4_4a32_a943_cbb0ce1e4d37</choiceReferences>
            <choiceReferences>c_cf9b22bc_f942_4173_9ede_efc52244cca2</choiceReferences>
            <choiceReferences>c_4c936fe8_0d93_4a84_8d03_6be85ce2846e</choiceReferences>
            <choiceReferences>c_c08daa1d_2608_487e_8ebe_78ccbde0f867</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;strong&gt;8.&lt;/strong&gt;&lt;strong style=&quot;font-size: 13.3333px; font-family: Arial;&quot;&gt;Nurses were attentive, polite, friendly &amp;amp; respected my privacy :&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_a9da493b_9158_4228_86d7_65bb5151b8cf</name>
            <choiceReferences>c_15760741_3362_41ef_993b_3130cbdc39f4</choiceReferences>
            <choiceReferences>c_3673b180_00d0_4c92_bb01_0d168c84ff92</choiceReferences>
            <choiceReferences>c_910ad854_a01f_4442_aced_2ccefd728ae3</choiceReferences>
            <choiceReferences>c_b739b803_3954_4ac5_9dcd_de2d5dfbec42</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;strong&gt;9.&lt;/strong&gt;&lt;strong style=&quot;font-size: 13.3333px; font-family: Arial;&quot;&gt;The washroom was cleaned at periodic intervals:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_079a604c_96eb_4a2a_93e2_a41e8cb9890e</name>
            <choiceReferences>c_12d05843_7fa2_4233_a49d_57c0ddfcfcf2</choiceReferences>
            <choiceReferences>c_834234d7_e623_4e1a_bf4e_194d1ef2d67e</choiceReferences>
            <choiceReferences>c_b32530ad_996f_4abb_8e54_8762dcad1b27</choiceReferences>
            <choiceReferences>c_332c46d5_0293_4666_b5e7_907c456f69ff</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;strong&gt;10.&lt;/strong&gt;&lt;strong style=&quot;font-size: 13.3333px; font-family: Arial;&quot;&gt;Linen was changed daily:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_74f3b813_12f7_4b22_8885_944aaa8bcf41</name>
            <choiceReferences>c_8fca14ea_721a_4909_b549_f1501a5cba31</choiceReferences>
            <choiceReferences>c_81fb5cd2_a9cd_4cac_a7a8_84d7ed8c8441</choiceReferences>
            <choiceReferences>c_4b3b9065_15b0_4efb_ab36_0239ba5742a7</choiceReferences>
            <choiceReferences>c_3448bb9f_f9ad_4141_8677_9d92c4cca42e</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;strong&gt;11.&lt;/strong&gt;&lt;strong style=&quot;font-size: 13.3333px; font-family: Arial;&quot;&gt;Satisfied by the air conditioning:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_e4081a82_a4fb_4381_8124_75844e3f6f48</name>
            <choiceReferences>c_db9e58a9_da4b_46cc_8778_6ba158fb1313</choiceReferences>
            <choiceReferences>c_aa273424_0fee_439c_84db_eee8c4b8a701</choiceReferences>
            <choiceReferences>c_cd0d593f_942a_4fe1_b5ed_4319b6d64d3b</choiceReferences>
            <choiceReferences>c_605873b6_045a_4059_b4b5_0e8d1a048fc0</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;strong&gt;12.&lt;/strong&gt;&lt;strong style=&quot;font-size: 13.3333px; font-family: Arial;&quot;&gt; Waiting time for transport while going one place to another within the hospital :&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_30feb998_9715_41eb_a59c_3a13e6c31bfa</name>
            <choiceReferences>c_823440bb_e34d_4491_93e8_b1090f5c334e</choiceReferences>
            <choiceReferences>c_42c2de99_6ca7_4cf2_b32f_db5c95b57341</choiceReferences>
            <choiceReferences>c_363349f4_2360_45d2_886e_89525b7367a2</choiceReferences>
            <choiceReferences>c_a1e63041_919e_4ef7_a581_271674b3eddb</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;strong&gt;13.&lt;/strong&gt;&lt;strong style=&quot;font-size: 13.3333px; font-family: Arial;&quot;&gt; At Radiology &amp;amp; Imaging Services waiting time for investigation :&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_f98b768a_e3a0_4445_9471_343b4c79f18a</name>
            <choiceReferences>c_455ffad6_6ccc_4450_937c_c26ab5642e79</choiceReferences>
            <choiceReferences>c_3e77ee14_1814_4274_8fb9_a6577545911c</choiceReferences>
            <choiceReferences>c_a7b4339f_77e3_4044_b8c7_4c9d2fa11020</choiceReferences>
            <choiceReferences>c_1fd8280e_ed5f_4ea3_83f7_00681a9076a0</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;strong&gt;14.&lt;/strong&gt;&lt;strong style=&quot;font-size: 13.3333px; font-family: Arial;&quot;&gt;Dietician visited me during my stay and explained clearly about my dietary requirements/restrictions in relation to my disease:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_e2609fe2_89f5_4c1f_b891_97eec547c1b4</name>
            <choiceReferences>c_985a1a43_844f_47b9_8bef_4993e87f65b5</choiceReferences>
            <choiceReferences>c_bacf2a77_a9a3_448e_b0d0_274e1cad1188</choiceReferences>
            <choiceReferences>c_93db26d4_2ab4_497b_81c2_145248d0a7fa</choiceReferences>
            <choiceReferences>c_865d91a0_bd6e_47e0_982f_b3d5fe6881d2</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;strong&gt;15.&lt;/strong&gt;&lt;strong style=&quot;font-size: 13.3333px; font-family: Arial;&quot;&gt;I was satisfied by the quality &amp;amp; quantity of food:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_12e4d67a_ae73_474b_8959_2dbedb4494cb</name>
            <choiceReferences>c_1a1e4fca_8676_4229_8e90_91d3fc8e4ee4</choiceReferences>
            <choiceReferences>c_0e13ef17_465c_4bb8_a3fa_ccd91631d319</choiceReferences>
            <choiceReferences>c_ca841a78_b0e2_4547_9c4c_d5496801f21d</choiceReferences>
            <choiceReferences>c_9d7c1004_4c96_4b96_b1ae_26e95065f1ff</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;strong&gt;16.&lt;/strong&gt;&lt;strong style=&quot;font-size: 13.3333px; font-family: Arial;&quot;&gt;I was treated well by the security guard:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_d8634154_2dd2_4218_b51a_89a3f929415e</name>
            <choiceReferences>c_49175d4e_1c03_49e2_a522_771a9a0c0d64</choiceReferences>
            <choiceReferences>c_8128f2a4_c679_441b_9a56_7e73a0e87bf4</choiceReferences>
            <choiceReferences>c_5644269b_88b0_4cf8_b0b1_62e605dcf622</choiceReferences>
            <choiceReferences>c_57abab7f_3827_4f90_9803_0ebba7602406</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;strong&gt;17.&lt;/strong&gt;&lt;strong style=&quot;font-size: 13.3333px; font-family: Arial;&quot;&gt;Medical summary was explained upon discharge:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_22fb4c38_2634_458a_ab9f_4ac9457d6844</name>
            <choiceReferences>c_29b0a6af_d447_41d2_ad7f_f1833bdb410e</choiceReferences>
            <choiceReferences>c_8057ef32_c1b6_478d_918e_e5ba8a43d8f2</choiceReferences>
            <choiceReferences>c_88ea3de9_81da_4757_8fc2_6f0c4bf60a35</choiceReferences>
            <choiceReferences>c_3552a537_cbf9_4724_9725_84633e0a612e</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;strong&gt;18.&lt;/strong&gt;&lt;strong style=&quot;font-size: 13.3333px; font-family: Arial;&quot;&gt;Ward pharmacist explained medications at discharge:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_45b852db_7cd7_404f_a15d_76ea0ab32a40</name>
            <choiceReferences>c_cf6fce9d_2332_4bd6_a038_631da5c6a5d4</choiceReferences>
            <choiceReferences>c_d21e6cf0_207c_4df5_9422_6985d883b5f2</choiceReferences>
            <choiceReferences>c_50a00d3c_cde2_4430_8fad_44125f5d4248</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;strong&gt;19.&lt;/strong&gt;&lt;strong style=&quot;font-size: 13.3333px; font-family: Arial;&quot;&gt;I was under the following category:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_5f25e663_9e83_43ac_916b_5b4654dc8cbf</name>
            <choiceReferences>c_867701e9_0fb8_4c69_92cc_8df15b4226a7</choiceReferences>
            <choiceReferences>c_c28845a1_a265_4381_bb71_40b1b51b48ae</choiceReferences>
            <choiceReferences>c_d11696f5_5ea8_4116_9a4f_f73dbe597a87</choiceReferences>
            <choiceReferences>c_f468d405_934a_457c_a1f3_4a6162532e34</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;strong&gt;20.&lt;/strong&gt;&lt;strong style=&quot;font-size: 13.3333px; font-family: Arial;&quot;&gt;Discharge Completed within stipulated time:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13.3333px; font-family: Arial;&quot;&gt;:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_bb2f461f_9bf8_4f73_8a82_39ff7ee0c549</name>
            <choiceReferences>c_a6583adc_3a63_437b_a70b_ef85a12c1227</choiceReferences>
            <choiceReferences>c_4befe93b_492f_4b45_8917_a1fdc37ec17b</choiceReferences>
            <choiceReferences>c_c80ca527_9398_4ab9_bf7b_892661b2453a</choiceReferences>
            <choiceReferences>c_4a9302a8_23d3_4ae0_88a5_8b7f9219e177</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;strong&gt;21.&lt;/strong&gt;&lt;strong style=&quot;font-size: 13.3333px; font-family: Arial;&quot;&gt;Satisfied with the counselling &amp;amp; co-ordination with insurance desk:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_c0c2b5b2_1327_4fef_a4d3_141de28e76bc</name>
            <choiceReferences>c_769bcca7_62ed_4f0c_a498_cdf77a85ff96</choiceReferences>
            <choiceReferences>c_d0c311bd_7391_4822_8cd8_c131af7c61d7</choiceReferences>
            <choiceReferences>c_211baf50_d9b5_49a8_9bf0_2d32cee82cb0</choiceReferences>
            <choiceReferences>c_afc2202e_39c7_481c_8d3d_e2b0a050200d</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;strong&gt;22.&lt;/strong&gt;&lt;strong style=&quot;font-size: 13.3333px; font-family: Arial;&quot;&gt;The corporate Desk ensured smooth billing &amp;amp; discharge:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_bbc74406_c785_438f_b539_915d3b54d47b</name>
            <choiceReferences>c_f9725708_8a15_43e9_b0af_5422f2805b89</choiceReferences>
            <choiceReferences>c_799a36f1_6967_40ac_8bf8_9fefc744985d</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;strong&gt;23.&lt;/strong&gt;&lt;strong style=&quot;font-size: 13.3333px; font-family: Arial;&quot;&gt;Did you availed any specialised service ?&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_8926b4cb_45cb_4990_ae76_956819bbdd7d</name>
            <choiceReferences>c_e9a24c40_aa9b_4f75_b16f_b6eca6e45075</choiceReferences>
            <choiceReferences>c_4fc98b3b_6676_42c7_ada4_14f6e3257d14</choiceReferences>
            <choiceReferences>c_102b81d1_8838_4068_881f_42bb6b9869ce</choiceReferences>
            <choiceReferences>c_324a899c_81c4_4631_856a_316f0d415313</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;strong&gt;24.&lt;/strong&gt;&lt;strong style=&quot;font-size: 13.3333px; font-family: Arial;&quot;&gt;Was satisfied by the behavior of the physiotherapist :&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_6d3b81ff_09be_4ead_8f5a_45f46bc07e7c</name>
            <choiceReferences>c_a43b769b_872d_4af8_bea1_135b2f6ca1ba</choiceReferences>
            <choiceReferences>c_f68f963d_0c8e_4881_bcda_c22a635e9e1b</choiceReferences>
            <choiceReferences>c_61f4fa5f_8561_4337_844f_26ef2b0c40f8</choiceReferences>
            <choiceReferences>c_cdd3b394_73ab_46dd_9b39_dc4a0fcefaa9</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;strong&gt;25.&lt;/strong&gt;&lt;strong style=&quot;font-size: 13.3333px; font-family: Arial;&quot;&gt; I&amp;nbsp;was counseled properly about blood donation for replacement at the blood bank:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_3f8e4461_4907_49f0_9230_8625c630aec5</name>
            <choiceReferences>c_e960c4a1_52b6_496f_a718_d6d47c42ed33</choiceReferences>
            <choiceReferences>c_b7a1d73e_f50c_4e0b_aa39_d34351335336</choiceReferences>
            <choiceReferences>c_caa615c5_0ce0_44f4_8122_e455415cb12b</choiceReferences>
            <choiceReferences>c_4c0cc71e_13f2_4804_bdae_6c2027713308</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 13.3333px; font-family: Arial;&quot;&gt;26.Overall feedback about the Hospital :&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_4a33a33c_2313_41ba_ab13_a705046d7c5d</name>
            <choiceReferences>c_5f41e2fa_cd66_4417_8b87_121c7befcb05</choiceReferences>
            <choiceReferences>c_eddd4e47_b123_4348_b700_a3c59e263848</choiceReferences>
            <choiceReferences>c_ab290627_7ee2_4ac3_b8e3_849a7a70f0a5</choiceReferences>
            <choiceReferences>c_d5595f66_d51f_4b13_a3f1_4485c6b51955</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;strong&gt;27.&lt;/strong&gt;&lt;strong style=&quot;font-size: 13.3333px; font-family: Arial;&quot;&gt;Satisfied by the counseling &amp;amp; co-ordination of Corporate Desk :&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_5eebb0ef_6e6a_4dfe_9f9a_79646b4c20e2</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;&lt;strong&gt;28.&lt;/strong&gt;&lt;strong style=&quot;font-size: 13.3333px; font-family: Arial;&quot;&gt;Enter Your Mobile No. :&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_378a7c64_147a_43e7_b4d9_931d0293efd4</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;&lt;strong&gt;29.&lt;/strong&gt;&lt;strong style=&quot;font-size: 13.3333px; font-family: Arial;&quot;&gt;Name any Helpful Staff :&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_2a48d9bd_a189_44b2_ae66_768642cb4ba0</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;&lt;strong&gt;30.&lt;/strong&gt;&lt;strong style=&quot;font-size: 13.3333px; font-family: Arial;&quot;&gt;Department:&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <helpText>Department of the Helpful staff</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_5b5eb805_28bd_4228_bdb9_1e16786eb56d</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;&lt;strong&gt;31.&lt;/strong&gt;&lt;strong style=&quot;font-size: 13.3333px; font-family: Arial;&quot;&gt;Suggestions (if any) :&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>welcome_page</name>
        <label>Welcome Page</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>p_8b632418_41a5_4556_9dc5_df62a93859f3</targetReference>
        </connector>
        <fields>
            <name>welcome_question</name>
            <extensionName>survey:runtimeWelcome</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>{!welcome_question_lref_tt}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>pageNamesInOrder_Assignment</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text></text>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt;&lt;u&gt;Thank You for your Feedbacks&lt;/u&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_lref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 22px;&quot;&gt;&lt;u&gt;Medica Hospitals Feedback Form&lt;/u&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>guestUserLang</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>pageNamesInOrder</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>previewMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>thankYouDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouDescriptionTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouLabelTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_q_2146f00c_430c_42f6_aa35_3c8808b8051c_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
