force-app/main/default/flows/Update_Userwise_Working_Days.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Check_Status</name>
        <label>Check Status</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Full_Day</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Present</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Userwise_Working_Day_for_Full_Day</targetReference>
            </connector>
            <label>If Full Day</label>
        </rules>
        <rules>
            <name>If_Half_Day</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Half Day</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Userwise_Working_Day_for_Half_Day</targetReference>
            </connector>
            <label>If Half Day</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>add1</name>
        <dataType>Number</dataType>
        <expression>{!Get_Userwise_Working_Days.Total_Working_Days__c} + 1.0</expression>
        <scale>1</scale>
    </formulas>
    <formulas>
        <name>addHalf</name>
        <dataType>Number</dataType>
        <expression>{!Get_Userwise_Working_Days.Total_Working_Days__c} + 0.5</expression>
        <scale>1</scale>
    </formulas>
    <formulas>
        <name>currentYearVar</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR({!$Flow.CurrentDate}))</expression>
    </formulas>
    <formulas>
        <name>user18</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$User.Id})</expression>
    </formulas>
    <interviewLabel>Update Userwise Working Days {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Userwise Working Days</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Userwise_Working_Days</name>
        <label>Get Userwise Working Days</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentYearVar</elementReference>
            </value>
        </filters>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>user18</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Userwise_Working_Day__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Userwise_Working_Day_for_Full_Day</name>
        <label>Update Userwise Working Day for Full Day</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Userwise_Working_Days.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Working_Days__c</field>
            <value>
                <elementReference>add1</elementReference>
            </value>
        </inputAssignments>
        <object>Userwise_Working_Day__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Userwise_Working_Day_for_Half_Day</name>
        <label>Update Userwise Working Day for Half Day</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Userwise_Working_Days.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Working_Days__c</field>
            <value>
                <elementReference>addHalf</elementReference>
            </value>
        </inputAssignments>
        <object>Userwise_Working_Day__c</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Userwise_Working_Days</targetReference>
        </connector>
        <object>Attendance__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
